.admin-building-page-container {
  padding-top: 48px;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.adminBuildingPageRoot {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  box-sizing: border-box;
}

@media (max-width: 668px) {
  .adminBuildingPageRoot {
    min-height: 100dvh;
    height: 100dvh;
  }
}

