.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, var(--background-color), var(--secondary-color));
  color: var(--text-color);
  text-align: center;
}

.not-found-page h1 {
  font-size: 6rem;
  margin: 0;
  animation: spin3d 4s linear infinite;
  color: var(--primary-color); /* Используем основной цвет для заголовка */
}

.not-found-page p {
  font-size: 1.5rem;
  color: var(--text-color); /* Используем цвет текста */
}

@keyframes spin3d {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
  .not-found-page h1 {
    font-size: 4rem;
  }

  .not-found-page p {
    font-size: 1.2rem;
  }
}

.notFoundPageRoot {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  box-sizing: border-box;
}

@media (max-width: 668px) {
  .notFoundPageRoot {
    min-height: 100dvh;
    height: 100dvh;
  }
}
